*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex-area {
    height: 99vh;
    display: flex;
    gap: .25em;
}

.flex-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .25em;
}

.heading {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: bold;
    background-color: #333;
    color: white;
    border-radius: .25em;
}

.question {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: rgb(223, 245, 218);
    color: rgb(0, 94, 47);
    border-radius: .25em;
}

section {
    position: absolute;
    inset: 20%;
    background-color: rgb(255 255 255 / .6);
    backdrop-filter: blur(.5em);
    border-radius: 1em;
    color: black;
    opacity: 0;
    animation: display 250ms ease-in-out forwards;
}

@keyframes display {
    to {
        opacity: 1;
    }
}

.display {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions, .answers {
    display: none;
    font-size: 1.75rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(0, 94, 47);
    text-align: center;
    opacity: 0;
    animation: display 250ms ease-in-out forwards;
}

.close {
    position: inherit;
    right: .75em;
    top: .5em;
    font-size: 2rem;
    cursor: pointer;
}